.container{
    width: 60rem;
    height: 35rem;
    border: 5px solid rgb(248, 61, 61);
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding-bottom: 30px;

}

.main{
    width: 95%;
    height: 95%;
    border: 2px solid blue;
    background-color: aqua;
    position: relative;

}

.btn{
    position:absolute;
    bottom: -5px ;
    left: 15px;
    font-size: 2.5rem;
    color: red;
    background: transparent;
    outline: none;
    border: none;
}